<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http:/java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>Oracle10g</param-value>
	</context-param>
</web-app>
