<web-app>
	<servlet>
		<servlet-name>LoginSessionServlet</servlet-name>
		<servlet-class>LoginSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginSessionServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DemoServlet1</servlet-name>
		<servlet-class>DemoServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet1</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
</web-app>
