<web-app>
	<servlet>
		<servlet-name>RequestListenerServlet</servlet-name>
		<servlet-class>RequestListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestListenerServlet</servlet-name>
		<url-pattern>/listener</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>MyRequestListener</listener-class>
	</listener>
</web-app>
