<web-app>
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>ConfigServlet</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
		<init-param>
			<param-name>image</param-name>
			<param-value>linux.jpg</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
</web-app>
