<web-app>
	<servlet>
		<servlet-name>MyFilterServlet1</servlet-name>
		<servlet-class>MyFilterServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFilterServlet1</servlet-name>
		<url-pattern>/filter1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyFilterServlet2</servlet-name>
		<servlet-class>MyFilterServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFilterServlet2</servlet-name>
		<url-pattern>/filter2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyFilterServlet3</servlet-name>
		<servlet-class>MyFilterServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFilterServlet3</servlet-name>
		<url-pattern>/filter3</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>MyFilter1</filter-name>
		<filter-class>MyFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter1</filter-name>
		<url-pattern>/filter1</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MyFilter2</filter-name>
		<filter-class>MyFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter2</filter-name>
		<url-pattern>/filter2</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MyFilter3</filter-name>
		<filter-class>MyFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter3</filter-name>
		<url-pattern>/filter3</url-pattern>
	</filter-mapping>
</web-app>
	
