<web-app>
	<servlet>
		<servlet-name>MyFilterServlet</servlet-name>
		<servlet-class>MyFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFilterServlet</servlet-name>
		<url-pattern>/filter</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>MyFilterInitParam</filter-name>
		<filter-class>MyFilterInitParam</filter-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilterInitParam</filter-name>
		<url-pattern>/filter</url-pattern>
	</filter-mapping>
</web-app>
