<web-app>
	<servlet>
		<servlet-name>UrlSessionServlet</servlet-name>
		<servlet-class>UrlSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UrlSessionServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
</web-app>
