<web-app>
	<servlet>
		<servlet-name>StoreImageServlet</servlet-name>
		<servlet-class>StoreImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreImageServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowImageServlet</servlet-name>
		<servlet-class>ShowImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImageServlet</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
</web-app>
