<web-app>
	<context-param>
		<param-name>name1</param-name>
		<param-value>lalu hates rabari</param-value>
	</context-param>
	<servlet>
		<servlet-name>my</servlet-name>
		<jsp-file>init.jsp</jsp-file>
		<init-param>
			<param-name>name</param-name>
			<param-value>lalu loves rabari</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>my</servlet-name>
		<url-pattern>run</url-pattern>
	</servlet-mapping>
</web-app>
