<web-app>
	<servlet>
		<servlet-name>SendRedirect</servlet-name>
		<servlet-class>SendRedirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendRedirect</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WelServlet</servlet-name>
		<servlet-class>WelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelServlet</servlet-name>
		<url-pattern>/wel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ErrServlet</servlet-name>
		<servlet-class>ErrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrServlet</servlet-name>
		<url-pattern>/err</url-pattern>
	</servlet-mapping>
</web-app>
