/* CSS */
*{
	maring:0px;
	padding:0px;
	font-family:cantarell;
	color:white;
}
body{
	background:url("../img/kali-red-sticker-16x9.jpg");
	background-size:cover;
}
.main{
	width:94vw;
	height:95vh;
	display:flex;
	justify-content:center;
}
.all_data{
	background:rgba(255,255,255,0);
	border:2px solid white;
	border-radius:10px;
	backdrop-filter:blur(10px);
	width:fit-content;
	height:fit-content;
	padding:10px;

}
form{
	text-align:center;
}
table tr:first-child td{
	font-weight:bold;
	font-size:18px;
}

table tr td{
	padding:5px 10px;
}
.delbtn{
	float:right;
	padding:5px 10px;
	background:black;
	border:1px solid white;
	border-radius:8px;
	font-size:18px;
}
input{
	cursor:pointer;
}
