*{
    margin: 0px;
    padding: 0px;
    font-family: cantarell;
/*    font-weight: bold;*/
}
.header{
    width: 100%;
    height: 525px;
    background: url('../img/Apple-Mac-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.blur{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.63);
    color: white;
}
.header>div>div:first-child{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}
.nav ul{
    list-style:none;
}
.nav a{
    text-decoration: none;
    color: white;
    border: 0px;
    border-radius: 50px;
    padding: 7.5px 20px;
    line-height: 35px;
}
#logo{
    float:left;
    margin:0px px 0px 0px;
}
#logo a{
    font-size: 35px;
    margin-right: 300px;
    color: #6AD7B5;
    font-weight:1000;
}
.menu{
    float:right;
}
.menu>ul>li{
    float:left;
}
.menu>ul>li>a:hover{
    background: #6AD7B5;
}
.menu>ul>li>ul{
    position:absolute;
    display:none;
}
.menu>ul>li:hover>ul{
    background-color:rgba(0,0,0,0,0.594);
    border:1px solid white;
    backdrop-filter:blur(10px);
    border-radius:15px;
    display:block;
    height:fit-content;
}
.menu>ul>li>ul>li>a:hover{
    color: #6AD7B5;
}
#deleteStudent{
    background:none;
    border:0px;
    color:white;
    font-family: cantarell;
    font-size:16px;
    margin:5px 19px;
}
#deleteStudent:hover{
    color:#6AD7B5;
    cursor:pointer;
}
.dwnld{
    /* border:2px solid red; */
    text-align: center;
    margin-top: 9%;
}
.dwnld>h1{
    font-size: 45px;
    font-weight: 1000;
}
.dwnld>p{
    margin: 25px 0px 60px 0px;
}
.dwnld>a{
    padding: 13px 40px;
    text-decoration: none;
    color: white;
    border: 0px;
    border-radius: 50px;
    background : #6AD7B5;
}
.service{
    width: 100%;
    height: 555px;
}
.content{
    text-align: center;
    padding-top: 65px;
}
.content>h1{
    font-weight: 1000;
    font-size: 40px;
}
.content>hr{
    display: inline-block;
    width: 80px;
    height: 3px;
    background: #6AD7B5;
    border: 0px;
    border-radius: 2px;
}
.content p{
    margin-top: 15px;
    line-height: 25px;
}
.service>div:last-child{

    display: flex;
    justify-content: center;
}
.service>div:last-child div{
    margin: 0px 45px;
}
.service img{
    width:60px;
    padding: 10px;
    border:2px solid lightgray;
    border-radius:100%;
    box-sizing: border-box;
}
.service>div:last-child h2{
    font-weight:1000;
    margin:20px 0px 0px 0px;
}
.feature{
    width: 100%;
    height: 600px;
    background: url('../img/mountain2.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
/*.feature>div>div:last-child{
    display: flex;
    border:2px solid red;
}*/
.img{
    border:2px solid #6AD7B5;
    border-radius:100%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.img>img{
    width:30px;
}
.imgcontent>h3{
    color: #6AD7B5;
}
.imgcontent>p{
    margin-top:10px;
    line-height:25px;
}
.mainfeature{
    display: flex;
    margin: 70px 0px 0px 170px;
    width: fit-content;
}
.blur>img{
    width:300px;
    position: absolute;
    right: 200px;
    margin-top:-295px;
}
.submenu{
    dislay:inline-block;
    position:absolute;
    margin-top:100px;
}
