/* CSS */
*{
	maring:0px;
	padding:0px;
}
body{
	background:url("../img/design-is-rounded-rectangles-d.jpg");
	background-size:cover;
	font-family:cantarell;
	font-size:20px;
}
.main{
	width:98.5vw;
	height:96vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.search{
	border:2px solid rgb(219,255,0);
	padding:0px 20px;
	border-radius:20px;
	background:rgba(0,0,0,0.594);
	backdrop-filter:blur(5px);
	color:white;
}
form input{
	margin:10px 10px;
	font-family:cantarell;
	font-size:20px;
	width:200px;
	border-radius:7px;
	border:0px;
	padding:5px 0px 5px 5px;
}
form input:focus{
	outline:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
/*	margin: 0*/
}
table tr:last-child td input{
	margin:0px 0px 10px 0px;
	background:rgb(219,255,0);
	width:100px;
	padding:5px;
}