/* CSS */
*{
	maring:0px;
	padding:0px;
	font-family:cantarell;
}
body{
	background:url("../img/adwaita-l.jpg");
	background-size:cover;
}
.main{
	width:98.5vw;
	height:96vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.success{
	background:rgba(255,255,255,0);
	border:2px solid white;
	border-radius:20px;
	backdrop-filter:blur(3px);
	padding:10px 40px;
	width:fit-content;
	height:fit-content;
	text-align:center;
}
h1{
	color:white;
}
.success>a{
	background:black;
	color:white;
	display:inline-block;
	height:fit-content;
	text-decoration:none;
	padding:10px 20px;
	border:0px;
	border-radius:10px;
}
