<web-app>
	<servlet>
		<servlet-name>ListenerServlet</servlet-name>
		<servlet-class>ListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListenerServlet</servlet-name>
		<url-pattern>/listener</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>MyListener</listener-class>
	</listener>
</web-app>
